<div id="doorlife">
  <section class="stage-view">
    <div class="interior-view">
      <div class="image">
        <img src="{{currentInteriorUrl}}" alt="">
      </div>
      <div class="door-view">
        <div class="image">
          <img src="{{currentDoorUrl}}" alt="">
        </div>
      </div>
    </div>
    <div class="control-panel">
      <!--<button type="button" (click)="showAlert()">alert</button>-->
    </div>
  </section>

  <div class="selector">
    <app-interior-list (onFetch)="childDataFetch($event)" (onSelect)="setInterior($event)"></app-interior-list>
    <app-door-list (onFetch)="childDataFetch($event)" (onDoorSelect)="setDoor($event)"></app-door-list>
  </div>

  <ng-template #tpl_1><span class="from-tpl">template 1</span></ng-template>
</div>
