#doorlife{
  position: relative;
  width: 97%;
  height: 90%;
  background-color: #2a93b9;
}

.selector{
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  width: 300px;

  overflow: hidden;
}

.stage-view{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
}

.interior-view{
  position: relative;
  width: 100%;
  height: 100%;

  & > .image{
    position: relative;
    width: 100%;
    height: 100%;

    img{
      max-height: 100%;
    }
  }
}

.door-view{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  height: auto;
  z-index: 2;

  & > .image{
    position: relative;
    width: 100%;
    height: auto;
  }

  img{
    display: block;
    position: relative;
    width: 100%;
  }
}
