@bg_color: #1a4064;

ul{
  display: block;
  position: relative;
  list-style: none;
  white-space: nowrap;

  li{
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    padding: 3px 0px 3px 3px;
  }

  .image{

    position: relative;
    max-width: 300px;

    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .title{
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    width: ~"calc(100% - 3px)";
    height: 10%;
    bottom: 3px;
    padding: 3px 5px;
    background-color: fade(#000, 25%);

    text-align: right;

    color: #f2f2f2;
    font: normal 12px Helvetica;
  }
}